@mixin all-block-color($b,$title,$text) {
	background-color: $b;
	border-color: $b;
	color: $text;
	.all-author-name, .all-reviews-name, .review-date, i{
		color:$title;
	}
}
@mixin font-setting($color,$weight,$style,$family,$size){
	color: $color;
	font-weight: $weight;
	font-style: $style;
	font-family: $family;
	font-size: $size;
}
@mixin absolute-set($t,$r,$z,$p){
	position: absolute;
	top: $t;
	right:$r;
	z-index: $z;	
	padding: $p;
}