
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$darkcolor:#151515;
$lightcolor:#f1f1f1;

$shadow:#000000;
$playfair:'Playfair Display', serif;
$lobster:'Lobster', cursive;
$lora:'Lora', serif;
$opensans:'Open Sans', sans-serif;
$playball:'Playball', cursive;
$cormorant:'Cormorant', serif;
$bordodark:#3f9384; 
$darkcolorblue:#121528;
$acolor:#1562a2;
$lightmenubottom:#e4e4ec;
$lavanda:#d3dbf6;
$darkcolor2:#212529;
$darkcolor3:#112e29;
$iconscolor:#8e6b73;
$navbackcolor:#ffffff63;

$bottom-height: 120px;
