
.account-menu{
	box-shadow: 4px 4px 10px $darkcolor;
	max-height: 600px;
	// background-color: #1b3865;
	background-color: $darkcolorblue;
	
}
.account-menu a{
	letter-spacing: 0.08rem;
	border-bottom: 1px solid $lightmenubottom;
	padding: 0.8em;
	@include font-setting($lavanda,bold,unset,$cormorant,unset);
}
.account-menu a:hover{
color: $light;
background-color: #0404048f;
}
.fav-exh div{
	width: 200px;
}
.form-group label, .btn-change-account{
@include font-setting($acolor,bold,unset,$lobster,1.3rem);
}
.picture-exh{
	background-size: contain;
	background-repeat: no-repeat;
}
.pic-e{
	max-height: 160px; 
	overflow: hidden;
	img{
		width: 100%;
	}
}
.pic-e:hover{
	overflow: visible;
}
.exh-title{
@include font-setting($bordodark,bold,unset,$lobster,1.3rem);
}