.admin-action {
	display: flex;
}
.admin-icon{
	font-size: 3em;
}
.admin-action a{
	min-width: 350px;
	background-color: $darkcolorblue;
	box-shadow: 4px 4px 10px $darkcolor;
	vertical-align: middle;
	@include font-setting($lavanda,bold,unset,$cormorant,2em);
}
.requests-change-status-user a{
	@include font-setting($darkcolorblue,bold,unset,$cormorant,1.3em);

}