.filter-exh-block{
height: 27px;
overflow: hidden;
}
.more-styles, .hide-styles{
	cursor: pointer;
}
.filter-link-exh{
@include font-setting($darkcolor,bold,unset,$playfair,1rem);
}
.exh-line{
	height: 10px;
	background-color: transparent;
}
.exh-author{	
	@include font-setting($acolor,unset,unset,$lora,0.95rem);
	text-shadow:1px 1px 2px;
}
.exh-author:hover{
	text-decoration: none;
	color:#6f88c4;
}
.exh-btn{
	@include font-setting($lavanda,unset,unset,$playfair,unset);
	border-radius: 0px;
	background-color: $darkcolorblue;	
}
.exh-btn:hover{
	color:#bfbdbe ;	
}
.exh-date{
	@include font-setting($acolor,bold,unset,$lobster,0.9rem);
}
.exh-type{
	@include font-setting(#831c26,bold,italic,$opensans,0.85rem);
	text-align: right;
}
.exh-badge{
	font-family: $playfair;	
	@include absolute-set(-18px,-35px,1,12px);
	border-radius: 20px;
}
.icons{
	color: $iconscolor;
}