.slider-reviews .owl-stage-outer {
	min-height: 340px;
	width: 100%;
}
.slider-reviews {
	margin-right: 0px;
	margin-left: 0px;
}

.slider-review {
	min-height: 300px;
	max-height: 300px;
}
.all-reviews{
	box-shadow: 5px 5px 10px $shadow;
	border:10px solid white;
	border-radius: 0px;
	@include all-block-color(#41B3A3,#182628,#303c6c)	
	// @include all-author-color(bacgr,title,text)	
}

.all-reviews-name{
@include font-setting(unset,unset,italic,$playfair,1.25rem);
}

.review-date{
font-size: 1rem;
font-family: $lobster;
}

.all-reviews-author-name, .all-reviews-author-name a{
@include font-setting(#edf5e1,unset,unset,$playfair,1rem);
}

.all-reviews:nth-child(3n+2){
	@include all-block-color(#05386B, #66fcf1,#88bdbc)
}
.all-reviews:nth-child(3n+3){
	@include all-block-color(#edf5e1,#4e4973,#282828);
	.all-reviews-author-name, .all-reviews-author-name a{
		@include font-setting(#45a29e,unset,unset,$playfair,1rem);
	}
}
.all-reviews:nth-child(3n+4){
	@include all-block-color(#41B3A3,$darkcolor2,$darkcolor3)
}
