.all-title{
@include font-setting(unset,bold,unset,$playfair,2.25rem);
}
.all-author{
	box-shadow: 1px 5px 25px $shadow;
	border:10px solid white;
	border-radius: 0px;
	@include all-block-color(#d2dde194,$darkcolor2,$darkcolor3)	
}

.all-author-name{
@include font-setting(unset,unset,italic,$playfair,1.25rem);
}

.icon-text{
	padding-left: 5px;
	padding-right: 10px; 
}
.all-author:nth-child(3n+2){
	@include all-block-color($darkcolor3,#a8c6c4,#d2dde1)
}
.all-author:nth-child(3n+3){
	@include all-block-color(#a8c6c4,#4e4973,white)
}
.all-author:nth-child(3n+4){
	@include all-block-color(#d2dde194,$darkcolor2,$darkcolor3)
}
.all-author:hover{
	border:10px solid $shadow;
}
.all-author-name:hover{
	text-decoration: none;
	color:#c0c1c1;
}