
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


body{
	background-image: url('/images/back3.jpg');
	background-attachment: fixed;
}
.logo{
	display: flex; justify-content: center;
}
#logo, #search{
	max-height: 100px;
}
.content-bg{
   background-color: #f0f1ff5e;
   box-shadow: 4px 4px 11px;
}

#app, main{
	min-height: 100vh;
}

.lb-main{
	font-size: 1rem !important;
}
main{
margin-bottom: $bottom-height;
}
footer {
	height: $bottom-height;
	margin-top: -$bottom-height;
	border-top: 1px solid #8080805e;
	font-family: $playfair;
	font-weight: bold;
	width: 100%;
	.footer-title{
		font-size: 1.2rem;
	}
	.footer-site-name {
		font-family: $playball;
		font-size: 1.6rem;
	}
}

@import 'preloader';
@import 'navbar';
@import 'main_menu';
@import 'search';
@import 'welcome';
@import 'all_authors';
@import 'all_exhibitions';
@import 'all_reviews';
@import 'one_exhibition';
@import 'one_author';
@import 'account';
@import 'admin';
@import 'input_file';
@import 'my_dropzone';

@import '~dropzone/dist/min/basic.min.css';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.css';

@import 'rating';
@import 'print';



