.inputfile {
  color: transparent;
  outline: none;
}
.inputfile::-webkit-file-upload-button {
  visibility: hidden;
}
.inputfile::before {
  content: 'Завантажити фото';
  display: inline-block;
  border: 1px solid $primary;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  background-color: $acolor;
	font-weight: bold;
	font-family: $lobster;
	font-size: 1.3rem;
}