	#my-dropzone .message {
    font-family: "Segoe UI Light", "Arial", serif;
    font-weight: 600;
    color: grey;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}
 
.dropzone {
    border: 2px dashed grey;
    background: white;
    border-radius: 5px;
    min-height: 300px;
    padding: 40px 0;
    vertical-align: baseline;
}