.mynavbar{
 .navbar-nav {
	// max-height: 50px;
	padding-right: 20px;
}
 .navbar-nav li a {
padding: 1.5em;
border: 2px solid #f0ffff00;

@include font-setting($darkcolor,bold,unset,$playfair,1rem);


}
.right-part{
	margin-top: 15px;
}
.navbar-nav li a:hover {
text-decoration: none;
border: 2px solid #060401e6;
background-color: $navbackcolor;
padding-top: 12px;
padding-bottom: 12px;
}
.dropdown a {
border:  none !important;
background-color: $navbackcolor !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
i{
// padding-right: 20px;
}
}
.dropdown a:hover {
border:  none !important;
background-color: $navbackcolor !important;
}
.dropdown div a{
border-bottom: 1px solid $lightmenubottom !important;
font-size: 0.8rem ;
}
.dropdown-menu-right, .account-menu{
	background-color: #f0f5f9de;
}
.dropdown-item:hover, .account-menu:hover{
	color: #cccdd2;
}
.navbar-nav .btn-reg a{
padding: 12px;
background-color: #060401e6;
color: #9de8db;
border:2px solid #47c5af;
}
.navbar-nav .btn-reg a:hover{
padding: 12px;
background-color: black;
color: #9de8db;
border:2px solid #47c5af;
	}


.navbar-brand {
	@include font-setting($darkcolor,bold,unset,$playfair,1rem);
}
.navbar-nav li a {
@include font-setting($darkcolor,bold,unset,$playfair,0.9rem);
}
}

// @media (min-width: 768px){
// .container {
//     max-width: 768px;
// }		
// }

@media (max-width: 768px){
	.mynavbar{
.left-part{
	display: none;
}	
.navbar-nav li a {
	display: block;
	text-align: center;
// border: none;
// background-color: none;
}
}
}