.exh-tag{
@include font-setting(white,bold,unset,$lora,1rem);
}
.exh-one-tag{
@include font-setting(white,italic,unset,$lora,0.8rem);
}
.badge-private{
	position: relative;
	top: -20px;
	font-size: 1.2rem;
}
.one-exh-author a{
@include font-setting($bordodark,bold,unset,$lora,1.2rem);
}
.exh-icons{
	color: $iconscolor;
}
.estimate{
@include font-setting($bordodark,bold,unset,$lobster,1.3rem);
}