.favourite{
@include font-setting(#2288a8,bold,unset,$playfair,unset);
	background-color:#84cded82; 
}
.author-badge{
	@include absolute-set(-18px,0,1,12px);	
	font-family: $playfair;
	border-radius: 20px;
}
.photo_url{
	width: 100%; max-height: 300px; overflow: hidden;
}
.author-exh{
	border-bottom: 5px solid $bordodark;
@include font-setting($bordodark,bold,unset,$lobster,1.8rem);

}
.toastdel, .toastsuc{
	@include absolute-set(0,0,unset,unset);
	display: none;background-color:#41b974c9;
}
.owl-prev i, .owl-next i {
    color: white;
    font-size: 3rem;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.owl-prev {
    left: 5px;
}
.owl-next {
    right: 5px;
}