#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: url(/images/back3.jpg);
color: $darkcolor2;

z-index: 30;}
 

 
.contpre{
letter-spacing:-2px;
text-align:center;
line-height:35px;
}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(/assets/textures/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}