.print-doc{

@include font-setting(#2288a8,bold,unset,$playfair,1.3em);
	border: 3px solid #84cded82; 
}
@media print {
    .hidden-print { display: none }
  
    * { background:#FFF !important; color:#000 !important }
    @page { margin: 1cm }
    img { max-width: 100% !important }
    canvas{
    	display: none;
    	width: 0px;
    	height: 0px;
    }
}