.menu-search{
	position: absolute;
	bottom: 0;
	max-height:100px;
	width: 100%;
}
.search-no-content{
	position: absolute;
	width: 100%;
	justify-content: center;
	height:100%;
	align-items:center;
  font-family: $playfair;	
display: none;
	color: $darkcolorblue;

  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.search-exh-info {
	position: absolute;
	width: 100%;
	bottom: 0;
	opacity: 0;

	.search-badge{
	display: none;

	}
	.about{
  font-family: $playfair;	

	}
}
.search-exh-title {
	position: absolute;
	width: 100%;
	display: none;
	justify-content: center;
	.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  font-family: $playfair;	

  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

}
.paginate {
	position: absolute;
	width: 100%;
	display: none;
	justify-content: space-between;
	height:100%;
	align-items:center;
	font-size: 3em;
	color:$darkcolorblue;
	padding: 0 1%;
	span {
		cursor: pointer;
	}
}
.paginate span:hover {
	color:$lavanda;
}
.input-search {
	display: none;
	position: absolute;
	width: 100%;
	justify-content: center;
	height:100%;
	opacity: 0;
	align-items:center;
	button {
		background:none;
		border:none;
		color:$darkcolorblue;
		font-size: 50px;
		outline: none;
	}
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.5em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: $darkcolorblue;
	color: #aaa;
	font-weight: bold;
	font-family: $playfair;	
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 0.5em;
	width: 40%;
	color: $darkcolorblue;
	font-weight: bold;
	font-size: 2em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 0.6em 0;
	width: 100%;
	font-family: $playfair;	

}
.input__field--haruki {
	padding: 0.4em 0.25em;
	width: 100%;
	background-color: transparent;
	color: $darkcolorblue;
	font-size: 2em;
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 4px;
	background: $darkcolorblue;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {
	bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

