@mixin picture-set($w,$t,$r) {
	width: $w;
	margin-top:$t;
	margin-left:$r;
	box-shadow: 2px 5px 5px #000000bd;
	float: left;
}


.site-name, .contpre{
	font-family: $playball;
	font-size: 13rem;
}
.picture1{
	@include picture-set(180px,-250px,280px);
}
.picture2{
	@include picture-set(400px,20px,10px);
}
.picture3{
	@include picture-set(180px,65px,145px);
}
.picture4{
	@include picture-set(350px,-345px,350px);
}
.inspire, .contpre small{
@include font-setting($darkcolor2,unset,unset,$cormorant,24px);


}
main{
	overflow: hidden;
}


@media (min-width: 992px){
	.inspire{
	position: absolute;		
	top: 95px;
	right: -70px;
	}
	.site-name{
	position: absolute;		
	top: 265px;
	left: 20px;
	}
}
.first{
	min-height: 100vh;
}
.second{
	min-height: 100vh;
	width:100%;
	background-size: cover;
	font-family: $cormorant;
	.second-text{
		background-color: #151515f2;
		height: 100%;
		.second-text-title {
			margin: 0 12%;
		}
		.second-text-list{
			margin: 0 4%;
			li{
				font-family: $playfair;
				font-size: 1.1rem;
				margin-top: 4%;
			}

		}
	}
}
.third{
	min-height: 100vh;
	width:100%;
	.third-img{
	box-shadow: 2px 5px 5px #000000bd;

	}
	.third-title{
		font-family: $cormorant;
		font-size: 2.2rem;
		margin-left: 10vw;
		border-bottom: 2px solid $dark;
	}
	.third-text{
		font-family: $playfair;
				font-size: 1.4rem;
				font-style: italic;
	}
}
.fourth{
	min-height: 100vh;
	width:100%;
	font-family: $playfair;

	.fourth-title{
		font-size: 2.2rem;
		margin-right: 10vw;
		border-bottom: 2px solid $dark;
	}
	.f-auth-link{
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
		color: $dark;
		width: 100%;
		text-transform: uppercase;
		border-left: 5px solid $dark;

	}
	.f-auth-link:hover{
		border-left: 5px solid $bordodark;
		color: $bordodark;


	}
}
.fifth{
	font-family: $playfair;

	min-height: 100vh;
	width:100%;
	overflow: hidden;

	a{
		position: absolute;
	width:100%;
		display: block;
	font-size: 2.4rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $dark;
text-align: center;
letter-spacing: 2px;
line-height: 100vh;
	}
	
}
.fifth a:hover{
		color: $dark;
		text-decoration: none;

}