body {
margin: 0;
    overflow: hidden;
}
#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	}
#instructions {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	font-family: 'Cormorant', serif;

}
#p_prldr{
color: white;
background:#002439;
}
 .contpre small{
color: white;

 }
#picture{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	align-items: center;
	flex-direction: column;
	justify-content: center;
	display: none;
	color: white;
}
#picture img{
	max-width:500px;
	max-height: 400px;
}

 #ai-exhibitor-icon{
            position: fixed;
            bottom: 0;
            max-height:120px;
            width: 120px;
            left:10%;
        }
#ai-exhibitor-dialog{
	position: fixed;
    bottom: 1%;
    height:100px;
    width: 70%;
    left:15%;
    border-radius: 25px;
    background: rgba(0,0,0,0.9);
}
#ai-exhibitor-response{
	width: 100%;
	height: 70%;
	text-align: right;
	color: white;
	padding-right: 20px;
	padding-top: 10px;
	padding-left: 100px;
	line-height: 1;
	font-family: 'Cormorant', serif;
	font-size: 16pt;
}
#ai-exhibitor-answer {
	width: 100%;
	height: 20%;
	color: white;
	font-family: 'Cormorant', serif;
	font-style: italic;
	font-size: 16pt;
	padding-right: 20px;
	background-color: transparent;
	border: none;
	padding-left: 130px;
	padding-bottom: 5px;
}
#ai-exhibitor-answer:focus{
	outline: none;

}

#ai-exhibitor-response .new { opacity: 0; }

#ai-exhibitor-response .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}